html {
  background-image: linear-gradient(to top, #267f00 0%, #5e89ff 50%);
  min-height: 100vh;
}
body {
  overflow: hidden;
  height: 98vh;
}
// @media only screen and (orientation:landscape){
//   body {
//     width: 98vh;
//     transform: rotate(-90deg);
//   }
// }