<div class="wrapper">
  <div class="header">
    <button title="Toogle" class="title toggle-button" (click)="sidebarVisable=true">
      <i class="fas fa-bars"></i>
    </button>
    <span class="title">{{step==4?'Ortung':step==3?'Algorithmus':'Setup'}}</span>
    <button title="Load" class="next-button" *ngIf="step==1" (click)="loadSetupDialog.click()">Laden</button>
    <button title="Save" class="next-button" *ngIf="step==2" (click)="saveSetup()">Speichern</button>
    <button title="Platzhalter" class="next-button" *ngIf="step>2" style="visibility: hidden;"
      (click)="saveSetup()">Speichern</button>
    <input type="file" #loadSetupDialog style="display:none;" accept=".txt" (change)="loadSetup($event.target)">
  </div>
  <!-- <div id="turn" class="content">
    Please rotate your device!
  </div> -->
  <div id="container" class="content">
    <div [style.display]="step==1?'unset':'none'" class="step ui-g">
      <div class="ui-lg-6 ui-g-12 frame">
        <p class="headline">Umgebung:</p>
        <div class="ui-g ui-fluid">
          <div class="ui-g-3 ui-xl-2">
            <div class="ui-inputgroup gradUnit">
              <span class="ui-inputgroup-addon fa-stack">
                <i class="fa fa-globe fa-stack-1x"></i>
                <i class="fa fa-arrows-alt-v fa-stack-1x fa-inverse"></i>
              </span>
              <input type="text" pInputText placeholder="±52.450302" [(ngModel)]="setupCOS.latVal" maxlength="10"
                size="7" pTooltip="Latitude des Mittelpunktes des Gebäudes" tooltipPosition="top">
            </div>
          </div>
          <div class="ui-g-3 ui-xl-2">
            <div class="ui-inputgroup gradUnit">
              <span class="ui-inputgroup-addon fa-stack">
                <i class="fa fa-globe fa-stack-1x"></i>
                <i class="fa fa-arrows-alt-h fa-stack-1x fa-inverse"></i>
              </span>
              <input type="text" pInputText placeholder="±013.293496" [(ngModel)]="setupCOS.lonVal" maxlength="11"
                size="7" pTooltip="Longitude des Mittelpunktes des Gebäudes" tooltipPosition="top">
            </div>
          </div>
          <div class="ui-g-3 ui-xl-2">
            <div class="ui-inputgroup meterUnit">
              <span class="ui-inputgroup-addon fa-stack">
                <i class="fa fa-arrow-up fa-stack-1x"></i>
              </span>
              <input type="text" pInputText placeholder="57" [(ngModel)]="setupCOS.altVal" maxlength="5" size="7"
                pTooltip="Altitude des Mittelpunktes des Gebäudes" tooltipPosition="top">
            </div>
          </div>
          <div class="ui-g-3 ui-xl-1">
            <div class="ui-inputgroup timesUnit">
              <span class="ui-inputgroup-addon fa-stack">
                <i class="fas fa-search-location fa-stack-1x"></i>
              </span>
              <input type="text" pInputText placeholder="19" [(ngModel)]="setupCOS.zoomVal" maxlength="2" size="3"
                pTooltip="Zoomfaktor um den Mittelpunktes des Gebäudes" tooltipPosition="top">
            </div>
          </div>
          <div class="ui-g-3 ui-xl-1">
            <div class="ui-inputgroup meterUnit">
              <span class="ui-inputgroup-addon fa-stack">
                <i class="fas fa-ruler-horizontal fa-stack-1x" data-fa-transform="rotate-45"></i>
                <!-- <strong class="fa-stack-1x fa-stack-text ">L</strong> -->
              </span>
              <input type="text" pInputText placeholder="37.12" [(ngModel)]="setupCOS.lengthVal" maxlength="8" size="7"
                pTooltip="Länge des Gebäudes" tooltipPosition="top">
            </div>
          </div>
          <div class="ui-g-3 ui-xl-1">
            <div class="ui-inputgroup meterUnit">
              <span class="ui-inputgroup-addon fa-stack">
                <i class="fas fa-ruler-horizontal fa-stack-1x"></i>
                <!-- <strong class="fa-stack-1x fa-stack-text">B</strong> -->
              </span>
              <input type="text" pInputText placeholder="78.04" [(ngModel)]="setupCOS.widthVal" maxlength="8" size="7"
                pTooltip="Breite des Gebäudes" tooltipPosition="top">
            </div>
          </div>
          <div class="ui-g-3 ui-xl-1">
            <div class="ui-inputgroup meterUnit">
              <span class="ui-inputgroup-addon fa-stack">
                <i class="fas fa-ruler-vertical fa-stack-1x"></i>
                <!-- <strong class="fa-stack-1x fa-stack-text">H</strong> -->
              </span>
              <input type="text" pInputText placeholder="6" [(ngModel)]="setupCOS.heightVal" maxlength="8" size="7"
                pTooltip="Höhe des Gebäudes über Boden" tooltipPosition="top">
            </div>
          </div>
          <div class="ui-g-3 ui-xl-1">
            <div class="ui-inputgroup gradUnit">
              <span class="ui-inputgroup-addon fa-stack">
                <i class="fas fa-compass fa-stack-1x"></i>
              </span>
              <input type="text" pInputText placeholder="33.90" [(ngModel)]="setupCOS.rotationVal" maxlength="5"
                size="3" pTooltip="Rotation des Gebäudes zum Äquator" tooltipPosition="top">
            </div>
          </div>
        </div>
        <p class="headline">Grundrisse:</p>
        <p-fileUpload #fileUploader name="upload[]" url="http://bitcoins.bplaced.net/bachelor-thesis/upload.php"
          multiple="multiple" accept="image/*" maxFileSize="1000000" (onUpload)="onUpload($event)"
          (onError)="onError($event)" (onBeforeUpload)="onBeforeUpload($event)" chooseLabel="Bilder auswählen"
          uploadLabel="Grundrisse einfügen" cancelLabel="Auswahl entfernen">
          <ng-template let-file let-i="index" pTemplate="file">
            <div class="ui-fileupload-row">
              <div>
                <img [src]="file.objectURL" *ngIf="fileUploader.isImage(file)" [width]="fileUploader.previewWidth" />
              </div>
              <div>{{file.name}}</div>
              <div>
                <input type="text" pInputText placeholder="0.00" [(ngModel)]="heights[i]" maxlength="5" size="3"
                  pTooltip="Höhe des Grundrisses über dem Erdboden" tooltipPosition="right">m
              </div>
              <div>
                <button type="button" icon="fas fa-times" pButton (click)="fileUploader.remove($event,i)"
                  [disabled]="fileUploader.uploading"></button>
              </div>
            </div>
          </ng-template>
          <ng-template pTemplate="content">
            <div style="display:flex;justify-content: space-between;align-items: center;padding:0.5em;"
              *ngFor="let outline of this.setupCOS.outlines;let i = index">
              <div style="flex:1 0 0;">
                <!-- <span>{{outline.url|slice:0:25}}...{{outline.url|slice:-25}}</span> -->
                <input type="text" pInputText placeholder="http://example.de/img/outline.img" style="width: 98%;"
                  [(ngModel)]="outline.url" pTooltip="URL zum Grundriss" tooltipPosition="top" disabled>
              </div>
              <div style="padding:0 10px;">
                <input type="text" pInputText placeholder="0.00" maxlength="5" style="width: 30px;text-align: right;"
                  [(ngModel)]="outline.height" (ngModelChange)="updateLayer(i,$event)"
                  pTooltip="Höhe des Grundrisses über dem Erdboden" tooltipPosition="top">m
              </div>
              <div style="padding:0 10px;">
                <!-- <p-toggleButton onLabel="" offLabel="" onIcon="fas fa-eye" offIcon="fas fa-eye-slash" [(ngModel)]="outline.visible"></p-toggleButton> -->
                <p-toggleButton onLabel="" offLabel="" [onIcon]="'pi pi-eye'" [offIcon]="'pi pi-eye-slash'"
                  [(ngModel)]="outline.visible" (ngModelChange)="setupCOS.setOutlineVisibility(i)"></p-toggleButton>
              </div>
              <div>
                <button type="button" icon="fas fa-times" pButton (click)="removeLayer(i)"></button>
              </div>
            </div>
            <div style="display:flex;justify-content: space-between;padding:0.5em;">
              <div style="flex:1 0 0;">
                <input type="text" pInputText placeholder="http://example.de/img/outline.img" style="width: 98%;"
                  #newURL pTooltip="URL zum Grundriss" tooltipPosition="top">
              </div>
              <div style="padding:0 10px;">
                <input type="text" pInputText placeholder="2.50" #newHeight maxlength="5"
                  style="width: 30px;text-align: right;" pTooltip="Höhe des Grundrisses über dem Erdboden"
                  tooltipPosition="right">m
              </div>
              <div>
                <button type="button" icon="fas fa-plus" pButton
                  (click)="addLayer(newURL.value,newHeight.value);newHeight.value = '';newURL.value = '';"></button>
              </div>
            </div>
          </ng-template>
        </p-fileUpload>
      </div>
      <div class="ui-lg-6 ui-g-12 frame" style="overflow: hidden;height:100%">
        <app-cos #setupCOS canvasWidth="100%" canvasHeight="100%"></app-cos>
      </div>
    </div>
    <div [style.display]="step==2?'unset':'none'" class="step">
      <div class="frame">
        <p class="headline">Anker:</p>
        <p-fieldset legend="Generieren">
          <div>
            <input type="text" pInputText placeholder="30" value="30" maxlength="3" size="1"
              pTooltip="Anzahl der zu generieren Anker" tooltipPosition="top" #totalCount> Anker davon für<br>
            <input type="text" pInputText placeholder="4" value="4" maxlength="3" size="1"
              pTooltip="Anzahl der 'RTK'-Anler" tooltipPosition="top" #fixedCount> Anker die Position beibehalten
          </div>
          <div>
            UWB-Reichweite: <br>
            <input type="text" pInputText placeholder="15" value="30" maxlength="5" size="1" #rangeUWB>m ±
            <input type="text" pInputText placeholder="2" value="2" maxlength="5" size="1" #rangeToleranceUWB>m
          </div>
          <div>
            UWB-Genauigkeit:<br>
            ±<input type="text" pInputText placeholder="0.1" value="0" maxlength="5" size="1" #accuracyUWB disabled>m
          </div>
          <div>
            <button type="button" class="add-button"
              (click)="generateAnchors(totalCount,fixedCount,rangeUWB,rangeToleranceUWB,accuracyUWB)">Generieren</button>
          </div>
        </p-fieldset>
        <div style="display:flex;justify-content: space-around;flex-wrap: wrap;">
          <div style="flex: 1 0 0;">
            <p-fieldset legend="Knoten">
              <div style="padding-right:10px; width: 100%;min-width: 20vw;">
                <div class="ui-inputgroup" [class.spaceUnit]="selectedAnchor">
                  <span class="ui-inputgroup-addon fa-stack">
                    <i class="fas fa-tag fa-stack-1x"></i>
                  </span>
                  <input type="text" pInputText placeholder="OG 105" *ngIf="selectedAnchor" #name style="width:100%"
                    [(ngModel)]="selectedAnchor.name" maxlength="10" (keyup)="nameRegex($event)"
                    pTooltip="Bezeichnung des Ankers" tooltipPosition="top">
                  <!-- onkeydown="return /[a-zA-Z0-9\s]/i.test(event.key)" -->
                </div>
                <div class="ui-inputgroup" [class.gradUnit]="selectedAnchor">
                  <span class="ui-inputgroup-addon fa-stack">
                    <i class="fa fa-globe fa-stack-1x"></i>
                    <i class="fa fa-arrows-alt-v fa-stack-1x fa-inverse"></i>
                  </span>
                  <input type="text" pInputText placeholder="±52.450302" *ngIf="selectedAnchor" style="width:100%"
                    [(ngModel)]="selectedAnchor.lla.lat" pTooltip="Optional: Latitude des Ankers" tooltipPosition="top">
                </div>
                <div class="ui-inputgroup" [class.gradUnit]="selectedAnchor">
                  <span class="ui-inputgroup-addon fa-stack">
                    <i class="fa fa-globe fa-stack-1x"></i>
                    <i class="fa fa-arrows-alt-h fa-stack-1x fa-inverse"></i>
                  </span>
                  <input type="text" pInputText placeholder="±013.293496" *ngIf="selectedAnchor" style="width:100%"
                    [(ngModel)]="selectedAnchor.lla.lon" pTooltip="Optional: Longitude des Ankers"
                    tooltipPosition="top">
                </div>
                <div class="ui-inputgroup" [class.meterUnit]="selectedAnchor">
                  <span class="ui-inputgroup-addon fa-stack">
                    <i class="fas fa-arrow-up fa-stack-1x"></i>
                  </span>
                  <input type="text" pInputText placeholder="19.392" *ngIf="selectedAnchor" style="width:100%"
                    [(ngModel)]="selectedAnchor.lla.alt" pTooltip="Optional: Höhe des Ankers über NN"
                    tooltipPosition="top">
                </div>
              </div>
              <p-listbox [options]="anchors" [(ngModel)]="selectedAnchor" optionLabel="name"
                (onChange)="selectedNeighbour=null">
                <ng-template let-anchor let-i="index" pTemplate="item">
                  <div style="padding:0 0.857em;"
                    [style.background]="anchors[i].lla.lat&&anchors[i].lla.lon&&anchors[i].lla.alt?'rgba(100,205,30,0.8)':'unset'">
                    <p style="height:4vmin;font-size: 2vmin;vertical-align: middle;display: table-cell;">
                      {{anchors[i].name}} ({{neighboursCount(anchors[i])}} Nachb.)
                    </p>
                  </div>
                </ng-template>
              </p-listbox>
              <div style="display:grid;align-items: center;">
                <button type="button" class="add-button" (click)="addAnchor()">
                  <span class="fas fa-plus"></span>
                </button>
                <button type="button" class="add-button" (click)="removeAnchor()">
                  <span class="fas fa-minus"></span>
                </button>
              </div>
            </p-fieldset>
          </div>
          <div style="flex: 1 0 0;">
            <p-fieldset legend="Nachbarn">
              <p-listbox [options]="anchors" [(ngModel)]="selectedNeighbour" optionLabel="name">
                <!-- .filter(elem=>{return elem.neighbours[selectedAnchor.name]}) -->
                <ng-template let-anchor let-i="index" pTemplate="item">
                  <div style="padding:0 0.857em;"
                    *ngIf="selectedAnchor&&selectedAnchor!=anchors[i]&&(!filterNeighbours||selectedAnchor.neighbours[anchors[i].name])"
                    [style.background]="selectedAnchor&&selectedAnchor.neighbours[anchors[i].name]?'rgba(100,205,30,0.8)':'unset'">
                    <p style="height:4vmin;font-size: 2vmin;vertical-align: middle;display: table-cell;">
                      {{anchors[i].name}}
                      {{selectedAnchor.neighbours[anchors[i].name] ? ' - '+(selectedAnchor.neighbours[anchors[i].name]|number: '1.2-2') + 'm' : ''}}
                    </p>
                  </div>
                </ng-template>
              </p-listbox>
              <div style="padding-left: 10px;min-width: 20vw;">
                <div class="ui-inputgroup"
                  [class.meterUnit]="selectedAnchor && selectedNeighbour && selectedAnchor != selectedNeighbour">
                  <span class="ui-inputgroup-addon fa-stack">
                    <i class="fas fa-ruler-horizontal fa-stack-1x"></i>
                  </span>
                  <input type="text" pInputText placeholder="10.32" style="width:100%"
                    *ngIf="selectedAnchor && selectedNeighbour && selectedAnchor != selectedNeighbour"
                    [ngModel]="selectedAnchor.neighbours[selectedNeighbour.name]" (ngModelChange)="distChange($event)"
                    pTooltip="Optional: Entfernung zwischen Anker und Nachbar" tooltipPosition="top">
                </div>
                <p-checkbox name="single" [(ngModel)]="filterNeighbours" binary="true"
                  label="Nur bestimmte Nachbarn anzeigen"></p-checkbox>
              </div>
            </p-fieldset>
          </div>
        </div>
      </div>
    </div>
    <div [style.display]="step==3?'unset':'none'" class="step">
      <div class="frame">
        <p class="headline">Hier folgt die Darstellung der Zwischenschritte:</p>
      </div>
    </div>
    <div [style.display]="step==4?'unset':'none'" class="step">
      <div class="ui-lg-6 ui-g-12 frame">
        <p class="headline">Ortung:</p>
        <p-fieldset legend="Generieren">
          <div>
            <input type="text" pInputText placeholder="60" value="60" maxlength="5" size="1" #tagsCount> Ortungen
          </div>
          <div>
            UWB-Reichweite: <br>
            <input type="text" pInputText placeholder="15" value="30" maxlength="5" size="1" #rangeTagUWB>m ±
            <input type="text" pInputText placeholder="2" value="2" maxlength="5" size="1" #rangeToleranceTagUWB>m
          </div>
          <div>
            UWB-Genauigkeit:<br>
            ±<input type="text" pInputText placeholder="0.1" value="0.1" maxlength="5" size="1" #accuracyTagUWB>m
          </div>
          <div>
            <button type="button" class="add-button"
              (click)="generateTagTimes(tagsCount,rangeTagUWB,rangeToleranceTagUWB,accuracyTagUWB)">Generieren</button>
          </div>
        </p-fieldset>
        <div style="display:flex;justify-content: space-around;flex-wrap: wrap;">
          <div style="flex: 1 0 0;">
            <p-fieldset legend="Zeitpunkt">
              <p-listbox [options]="tags" [(ngModel)]="selectedTag" optionLabel="time" (onChange)="selectedTagChange()"
                (onChange)="selectedTagNeighbour=null">
                <ng-template let-time let-i="index" pTemplate="item">
                  <div style="padding:0 0.857em;" #row [attr.id]="index">
                    <!-- [style.background]="anchors[i].lla.lat&&anchors[i].lla.lon&&anchors[i].lla.alt?'rgba(100,205,30,0.8)':'unset'"> -->
                    <p style="height:4vmin;font-size: 2vmin;vertical-align: middle;display: table-cell;">
                      t{{i}} ({{tags[i].time|date:'HH:mm:ss'}})
                    </p>
                  </div>
                </ng-template>
              </p-listbox>
              <div style="display:grid;">
                <div style="display:flex;align-items: flex-end;">
                  <input type="file" #loadTraceDialog style="display:none;" accept=".txt"
                    (change)="loadTrace($event.target)">
                  <button type="button" class="add-button" (click)="loadTraceDialog.click()">
                    <span class="far fa-folder-open"></span>
                  </button>
                  <button type="button" class="add-button" (click)="saveTrace()">
                    <span class="far fa-save"></span>
                  </button>
                </div>
                <div style="display:grid;align-items: flex-end;">
                  <button type="button" class="add-button" (click)="addTagTime()">
                    <span class="fas fa-plus"></span>
                  </button>
                  <button type="button" class="add-button" (click)="removeTagTime()">
                    <span class="fas fa-minus"></span>
                  </button>
                </div>
              </div>
            </p-fieldset>
          </div>
          <div style="flex: 1 0 0;">
            <p-fieldset legend="Nachbarn">
              <p-listbox [options]="anchors" [(ngModel)]="selectedTagNeighbour" optionLabel="name">
                <ng-template let-anchor let-i="index" pTemplate="item">
                  <div style="padding:0 0.857em;"
                    *ngIf="selectedTag&&(!filterTagNeighbours||selectedTag.neighbours[anchors[i].name])"
                    [style.background]="selectedTag.neighbours[anchors[i].name]?'rgba(100,205,30,0.8)':'unset'">
                    <p style="height:4vmin;font-size: 2vmin;vertical-align: middle;display: table-cell;">
                      {{anchors[i].name}}
                      {{selectedTag.neighbours[anchors[i].name] ? ' - '+(selectedTag.neighbours[anchors[i].name]|number: '1.2-2') + 'm' : ''}}
                    </p>
                  </div>
                </ng-template>
              </p-listbox>
              <div style="padding-left: 10px;">
                <div class="ui-inputgroup" [class.meterUnit]="selectedTag && selectedTagNeighbour">
                  <span class="ui-inputgroup-addon fa-stack">
                    <i class="fas fa-ruler-horizontal fa-stack-1x"></i>
                  </span>
                  <input type="text" pInputText placeholder="10.32" style="width:100%"
                    *ngIf="selectedTag && selectedTagNeighbour"
                    [ngModel]="selectedTag.neighbours[selectedTagNeighbour.name]"
                    (ngModelChange)="tagDistChange($event)"
                    pTooltip="Optional: Entfernung zwischen Tag und Nachbar zum ausgewählten Zeitpunkt"
                    tooltipPosition="top">
                </div>
                <p-checkbox name="single" [(ngModel)]="filterTagNeighbours" binary="true"
                  label="Nur bestimmte Nachbarn anzeigen"></p-checkbox>
              </div>
            </p-fieldset>
          </div>
        </div>
      </div>
      <div class="ui-lg-1 ui-g-12 frame">
        <div
          style="color: #ffffff !important; font-style: normal; font-weight: 400;font-family: 'Open Sans', 'Helvetica Neue', sans-serif;font-size:3vmin; display: flex; justify-content: space-around; flex-wrap: wrap; width: 100%; ">
          <div style="flex:1 0 auto;text-align: center;">
            <button title="Play" class="next-button" (click)="playTag()">
              <span class="fas fa-play"></span>
            </button>
            <button title="Pause" class="next-button" (click)="pauseTag()">
              <span class="fas fa-pause"></span>
            </button>
          </div>
          <div style="flex:1 0 auto;text-align: center;">
            <button title="Previous" class="next-button" (click)="prevTag()">
              <span class="fas fa-step-backward"></span>
            </button>
            <button title="Next" class="next-button" (click)="nextTag()">
              <span class="fas fa-step-forward"></span>
            </button>
          </div>
          <div style="flex:1 0 auto;text-align: center;">
            <button title="First" class="next-button" (click)="firstTag()">
              <span class="fas fa-fast-backward"></span>
            </button>
            <button title="Last" class="next-button" (click)="lastTag()">
              <span class="fas fa-fast-forward"></span>
            </button>
          </div>
          <div style="flex:1 0 auto;">
            <p-checkbox name="single" [(ngModel)]="showTrace" binary="true" label="Spur?"></p-checkbox>
          </div>
          <div style="flex:1 0 auto;">
            Lat:<br><span
              style="font-size:2vmin;">{{(currentlla&&currentlla.lat)?(currentlla.lat|number:'1.6-6'):'Unbestimmt'}}</span>
          </div>
          <div style="flex:1 0 auto;">
            Lon:<br><span
              style="font-size:2vmin;">{{(currentlla&&currentlla.lon)?(currentlla.lon|number:'1.6-6'):'Unbestimmt'}}</span>
          </div>
          <div style="flex:1 0 auto;">
            Alt:<br><span
              style="font-size:2vmin;">{{(currentlla&&currentlla.alt)?(currentlla.alt|number:'1.6-6'):'Unbestimmt'}}</span>
          </div>
          <div style="flex:1 0 auto;">
            <a *ngIf="currentlla && currentlla.lat && currentlla.lon && currentlla.alt" target="popup"
              [href]="'https://www.google.com/maps/search/'+currentlla.lat+','+currentlla.lon">Maps öffnen </a>
          </div>
        </div>
      </div>
      <div class=" ui-lg-5 ui-g-12 frame" style="overflow: hidden;height:100%">
        <app-cos #tagCOS canvasWidth="100%" canvasHeight="100%"></app-cos>
      </div>
    </div>
  </div>
  <div class="footer">
    <button title="Next" class="next-button" [style.visibility]="step>1?'visible':'hidden'" (click)="prevStep()">
      Zurück
    </button>
    <button title="Next" class="next-button" [style.visibility]="step<4?'visible':'hidden'" (click)="nextStep()">
      {{step==2?'Berechnung starten':'Weiter'}}
    </button>
  </div>
</div>
<p-sidebar [(visible)]="sidebarVisable" [baseZIndex]="10000" [style]="{margin:'1vh',height:'98vh',padding:'2vmin'}">
  <p class="time">{{time|date:'dd.MM.yyyy HH:mm:ss'}}</p><br>
  <h2>UWB-RTK-Lokalisation</h2><br>
  <!-- <a routerLink="/path">test</a> -->
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  Entwickelt von Justus Purat
</p-sidebar>
<p-toast [style]="{marginTop: '80px'}"></p-toast>