<div class="wrapper">
  <div class="header">
    <button title="Toogle" class="title toggle-button" (click)="sidebarVisable=true">
      <i class="fas fa-bars"></i>
    </button>
    <span class="title">Setup</span>
    <button title="Load" class="next-button" *ngIf="step==1" (click)="fileDialog.click()">Laden</button>
    <button title="Save" class="next-button" *ngIf="step==2" (click)="saveSetup()">Speichern</button>
    <button title="Platzhalter" class="next-button" *ngIf="step>2" style="visibility: hidden;"
      (click)="saveSetup()">Speichern</button>
    <input type="file" #fileDialog style="display:none;" accept=".txt" (change)="loadSetup($event.target)">
  </div>
  <!-- <div id="turn" class="content">
    Please rotate your device!
  </div> -->
  <div id="container" class="content">
    <div [style.display]="step==1?'unset':'none'" class="step ui-g">
      <div class="ui-lg-6 ui-g-12 frame">
        <p class="headline">Umgebung:</p>
        <div class="ui-g ui-fluid">
          <div class="ui-g-4 ui-xl-2">
            <div class="ui-inputgroup gradUnit">
              <span class="ui-inputgroup-addon fa-stack">
                <i class="fa fa-globe fa-stack-1x"></i>
                <i class="fa fa-arrows-alt-v fa-stack-1x fa-inverse"></i>
              </span>
              <input type="text" pInputText placeholder="±52.450302" [(ngModel)]="setupCOS.latVal" maxlength="10"
                size="8" pTooltip="Latitude des Mittelpunktes des Gebäudes" tooltipPosition="top">
            </div>
          </div>
          <div class="ui-g-4 ui-xl-2">
            <div class="ui-inputgroup gradUnit">
              <span class="ui-inputgroup-addon fa-stack">
                <i class="fa fa-globe fa-stack-1x"></i>
                <i class="fa fa-arrows-alt-h fa-stack-1x fa-inverse"></i>
              </span>
              <input type="text" pInputText placeholder="±013.293496" [(ngModel)]="setupCOS.lonVal" maxlength="11"
                size="8" pTooltip="Longitude des Mittelpunktes des Gebäudes" tooltipPosition="top">
            </div>
          </div>
          <div class="ui-g-4 ui-xl-1">
            <div class="ui-inputgroup timesUnit">
              <span class="ui-inputgroup-addon fa-stack">
                <i class="fas fa-search-location fa-stack-1x"></i>
              </span>
              <input type="text" pInputText placeholder="19" [(ngModel)]="setupCOS.zoomVal" maxlength="2" size="3"
                pTooltip="Zoomfaktor um den Mittelpunktes des Gebäudes" tooltipPosition="top">
            </div>
          </div>
          <div class="ui-g-4 ui-xl-1">
            <div class="ui-inputgroup meterUnit">
              <span class="ui-inputgroup-addon fa-stack">
                <i class="fas fa-ruler-vertical fa-stack-1x"></i>
              </span>
              <input type="text" pInputText placeholder="78.04" [(ngModel)]="setupCOS.widthVal" maxlength="8" size="8"
                pTooltip="Breite des Gebäudes" tooltipPosition="top">
            </div>
          </div>
          <div class="ui-g-4 ui-xl-1">
            <div class="ui-inputgroup meterUnit">
              <span class="ui-inputgroup-addon fa-stack">
                <i class="fas fa-ruler-horizontal fa-stack-1x"></i>
              </span>
              <input type="text" pInputText placeholder="37.12" [(ngModel)]="setupCOS.lengthVal" maxlength="8" size="8"
                pTooltip="Länge des Gebäudes" tooltipPosition="top">
            </div>
          </div>
          <div class="ui-g-4 ui-xl-1">
            <div class="ui-inputgroup gradUnit">
              <span class="ui-inputgroup-addon fa-stack">
                <i class="fas fa-compass fa-stack-1x"></i>
              </span>
              <input type="text" pInputText placeholder="33.90" [(ngModel)]="setupCOS.rotationVal" maxlength="5"
                size="3" pTooltip="Rotation des Gebäudes zum Äquator" tooltipPosition="top">
            </div>
          </div>
        </div>
        <p class="headline">Grundrisse:</p>
        <p-fileUpload #fileUploader name="upload[]" url="http://bitcoins.bplaced.net/bachelor-thesis/upload.php"
          multiple="multiple" accept="image/*" maxFileSize="1000000" (onUpload)="onUpload($event)"
          (onError)="onError($event)" (onBeforeUpload)="onBeforeUpload($event)" chooseLabel="Bilder auswählen"
          uploadLabel="Grundrisse einfügen" cancelLabel="Auswahl entfernen">
          <ng-template let-file let-i="index" pTemplate="file">
            <div class="ui-fileupload-row">
              <div>
                <img [src]="file.objectURL" *ngIf="fileUploader.isImage(file)" [width]="fileUploader.previewWidth" />
              </div>
              <div>{{file.name}}</div>
              <div>
                <input type="text" pInputText placeholder="0.00" [(ngModel)]="heights[i]" maxlength="5" size="3"
                  pTooltip="Höhe des Grundrisses über dem Erdboden" tooltipPosition="right">m
              </div>
              <div>
                <button type="button" icon="fas fa-times" pButton (click)="fileUploader.remove($event,i)"
                  [disabled]="fileUploader.uploading"></button>
              </div>
            </div>
          </ng-template>
          <ng-template pTemplate="content">
            <div style="display:flex;justify-content: space-between;padding:0.5em;"
              *ngFor="let outline of this.setupCOS.outlines;let i = index">
              <div style="flex:1 0 0;">
                <!-- <span>{{outline.url|slice:0:25}}...{{outline.url|slice:-25}}</span> -->
                <input type="text" pInputText placeholder="http://example.de/img/outline.img" style="width: 98%;"
                  [(ngModel)]="outline.url" pTooltip="URL zum Grundriss" tooltipPosition="top" disabled>
              </div>
              <div style="padding:0 10px;">
                <input type="text" pInputText placeholder="0.00" maxlength="5" style="width: 30px;text-align: right;"
                  [(ngModel)]="outline.height" (ngModelChange)="updateLayer(i,$event)"
                  pTooltip="Höhe des Grundrisses über dem Erdboden" tooltipPosition="top">m
              </div>
              <div>
                <button type="button" icon="fas fa-times" pButton (click)="removeLayer(i)"></button>
              </div>
            </div>
            <div style="display:flex;justify-content: space-between;padding:0.5em;">
              <div style="flex:1 0 0;">
                <input type="text" pInputText placeholder="http://example.de/img/outline.img" style="width: 98%;"
                  #newURL pTooltip="URL zum Grundriss" tooltipPosition="top">
              </div>
              <div style="padding:0 10px;">
                <input type="text" pInputText placeholder="2.50" #newHeight maxlength="5"
                  style="width: 30px;text-align: right;" pTooltip="Höhe des Grundrisses über dem Erdboden"
                  tooltipPosition="right">m
              </div>
              <div>
                <button type="button" icon="fas fa-plus" pButton
                  (click)="addLayer(newURL.value,newHeight.value);newHeight.value = '';newURL.value = '';"></button>
              </div>
            </div>
          </ng-template>
        </p-fileUpload>
      </div>
      <div class="ui-lg-6 ui-g-12 frame">
        <app-cos #setupCOS canvasWidth="100%" canvasHeight="100%"></app-cos>
      </div>
    </div>
    <div [style.display]="step==2?'unset':'none'" class="step">
      <div class="frame">
        <p class="headline">Anker:</p>
        <p-fieldset legend="Generieren" [style]="{width:'100%'}">
          <div>
            <input type="text" pInputText placeholder="30" value="30" maxlength="3" size="1"
              pTooltip="Anzahl der zu generieren Anker" tooltipPosition="top" #totalCount> Anker davon für<br>
            <input type="text" pInputText placeholder="4" value="4" maxlength="3" size="1"
              pTooltip="Anzahl der 'RTK'-Anler" tooltipPosition="top" #fixedCount> Anker die Position beibehalten
          </div>
          <div>
            UWB-Reichweite: <br>
            <input type="text" pInputText placeholder="15" value="15" maxlength="5" size="1" #rangeUWB>m ±
            <input type="text" pInputText placeholder="2" value="2" maxlength="5" size="1" #rangeToleranceUWB>m
          </div>
          <div>
            UWB-Genauigkeit:<br>
            <input type="text" pInputText placeholder="0.1" value="0.1" maxlength="5" size="1" #accuracyUWB>m
          </div>
          <div>
            <button type="button" class="add-button"
              (click)="generateAnchors(totalCount,fixedCount,rangeUWB,rangeToleranceUWB,accuracyUWB)">Generieneren</button>
          </div>
        </p-fieldset>
        <div style="display:flex;justify-content: space-around;flex-wrap: wrap;">
          <p-fieldset legend="Knoten">
            <div style="padding-right:10px; width: 100%;">
              <div class="ui-inputgroup" [class.spaceUnit]="selectedAnchor">
                <span class="ui-inputgroup-addon fa-stack">
                  <i class="fas fa-tag fa-stack-1x"></i>
                </span>
                <input type="text" pInputText placeholder="OG 105" *ngIf="selectedAnchor" #name style="width:100%"
                  [(ngModel)]="selectedAnchor.name" maxlength="10" size="8" (keyup)="nameRegex($event)"
                  pTooltip="Bezeichnung des Ankers" tooltipPosition="top">
                <!-- onkeydown="return /[a-zA-Z0-9\s]/i.test(event.key)" -->
              </div>
              <div class="ui-inputgroup" [class.gradUnit]="selectedAnchor">
                <span class="ui-inputgroup-addon fa-stack">
                  <i class="fa fa-globe fa-stack-1x"></i>
                  <i class="fa fa-arrows-alt-v fa-stack-1x fa-inverse"></i>
                </span>
                <input type="text" pInputText placeholder="±52.450302" *ngIf="selectedAnchor" style="width:100%"
                  [(ngModel)]="selectedAnchor.lla.lat" maxlength="10" size="8" pTooltip="Optional: Latitude des Ankers"
                  tooltipPosition="top">
              </div>
              <div class="ui-inputgroup" [class.gradUnit]="selectedAnchor">
                <span class="ui-inputgroup-addon fa-stack">
                  <i class="fa fa-globe fa-stack-1x"></i>
                  <i class="fa fa-arrows-alt-h fa-stack-1x fa-inverse"></i>
                </span>
                <input type="text" pInputText placeholder="±013.293496" *ngIf="selectedAnchor" style="width:100%"
                  [(ngModel)]="selectedAnchor.lla.lon" maxlength="10" size="8" pTooltip="Optional: Longitude des Ankers"
                  tooltipPosition="top">
              </div>
              <div class="ui-inputgroup" [class.meterUnit]="selectedAnchor">
                <span class="ui-inputgroup-addon fa-stack">
                  <i class="fas fa-arrow-up fa-stack-1x"></i>
                </span>
                <input type="text" pInputText placeholder="19.392" *ngIf="selectedAnchor" style="width:100%"
                  [(ngModel)]="selectedAnchor.lla.alt" maxlength="10" size="8"
                  pTooltip="Optional: Höhe des Ankers über NN" tooltipPosition="top">
              </div>
            </div>
            <p-listbox [options]="anchors" [(ngModel)]="selectedAnchor" optionLabel="name">
              <ng-template let-anchor let-i="index" pTemplate="item">
                <div style="border-radius:5px;padding:0 0.857em;"
                  [style.background]="anchors[i].lla.lat&&anchors[i].lla.lon&&anchors[i].lla.alt?'green':'unset'">
                  <p style="height:4vmin;font-size: 2vmin;vertical-align: middle;display: table-cell;">
                    {{anchors[i].name}} ({{neighboursCount(anchors[i])}} Nachb.)
                  </p>
                </div>
              </ng-template>
            </p-listbox>
            <div style="display:flex;align-items: flex-end;">
              <button type="button" class="add-button" (click)="addAnchor()">
                <span class="fas fa-plus"></span>
              </button>
              <button type="button" class="add-button" (click)="removeAnchor()">
                <span class="fas fa-minus"></span>
              </button>
            </div>
          </p-fieldset>
          <p-fieldset legend="Nachbarn">
            <p-listbox [options]="anchors" [(ngModel)]="selectedNeighbour" optionLabel="name">
              <!-- .filter(elem=>{return elem.neighbours[selectedAnchor.name]}) -->
              <ng-template let-anchor let-i="index" pTemplate="item">
                <div style="border-radius:5px;padding:0 0.857em;"
                  *ngIf="selectedAnchor&&selectedAnchor!=anchors[i]&&(!filterNeighbours||selectedAnchor.neighbours[anchors[i].name])"
                  [style.background]="selectedAnchor&&selectedAnchor.neighbours[anchors[i].name]?'green':'unset'">
                  <p style="height:4vmin;font-size: 2vmin;vertical-align: middle;display: table-cell;">
                    {{anchors[i].name}}  {{selectedAnchor.neighbours[anchors[i].name] ? ' - '+(selectedAnchor.neighbours[anchors[i].name]|number: '1.2-2') + 'm' : ''}}
                  </p>
                </div>
              </ng-template>
            </p-listbox>
            <div style="padding-left: 10px;">
              <div class="ui-inputgroup"
                [class.meterUnit]="selectedAnchor && selectedNeighbour && selectedAnchor != selectedNeighbour">
                <span class="ui-inputgroup-addon fa-stack">
                  <i class="fas fa-ruler-horizontal fa-stack-1x"></i>
                </span>
                <input type="text" pInputText placeholder="10.32" style="width:100%"
                  *ngIf="selectedAnchor && selectedNeighbour && selectedAnchor != selectedNeighbour"
                  [ngModel]="selectedAnchor.neighbours[selectedNeighbour.name]" maxlength="6" size="8" (ngModelChange)="distChange($event)"
                  pTooltip="Optional: Entfernung zwischen Anker und Nachbar" tooltipPosition="top">
              </div>
              <p-checkbox name="single" [(ngModel)]="filterNeighbours" binary="true"
                label="Nur bestimmte Nachbarn anzeigen"></p-checkbox>
            </div>
          </p-fieldset>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <button title="Next" class="next-button" [style.visibility]="step>1?'visible':'hidden'"
      (click)="prevStep()">Zurück</button>
    <button title="Next" class="next-button" [style.display]="step==1?'unset':'none'"
      (click)="nextStep()">Weiter</button>
    <button title="Next" class="next-button" [style.display]="step==2?'unset':'none'" (click)="nextStep()">Berechnung
      starten</button>
  </div>
</div>
<p-sidebar [(visible)]="sidebarVisable" [baseZIndex]="10000" [style]="{margin:'1vh',height:'98vh',padding:'2vmin'}">
  <p class="time">{{time|date:'dd.MM.yyyy HH:mm:ss'}}</p><br>
  <h2>UWB-RTK-Lokalisation</h2><br>
  <!-- <a routerLink="/path">test</a> -->
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  Entwickelt von Justus Purat
</p-sidebar>